version: '3.9'

services:
  # -----------------------------
  # PHP + Symfony App
  # -----------------------------
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: symfony_php
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - app_network

  # -----------------------------
  # Nginx
  # -----------------------------
  nginx:
    image: nginx:1.25-alpine
    container_name: symfony_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app_network

  # -----------------------------
  # PostgreSQL Database
  # -----------------------------
  db:
    image: postgres:16-alpine
    container_name: symfony_postgres
    environment:
      POSTGRES_DB: news_aggregation
      POSTGRES_USER: news_aggregation
      POSTGRES_PASSWORD: news_aggregation
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app_network

  # -----------------------------
  # Redis
  # -----------------------------
  redis:
    image: redis:7-alpine
    container_name: symfony_redis
    ports:
      - "6379:6379"
    networks:
      - app_network

  # -----------------------------
  # Symfony Messenger Worker
  # -----------------------------
  messenger:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: symfony_messenger
    command: php bin/console messenger:consume async -vv
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - php
      - db
      - redis
    networks:
      - app_network

# -----------------------------
# Volumes
# -----------------------------
volumes:
  db_data:

# -----------------------------
# Networks
# -----------------------------
networks:
  app_network:
    driver: bridge
