version: '3.9'

services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: symfony_php
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - db

  nginx:
    image: nginx:1.25-alpine
    container_name: symfony_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    image: postgres:16-alpine
    container_name: symfony_postgres
    environment:
      POSTGRES_DB: news_aggregation
      POSTGRES_USER: news_aggregation
      POSTGRES_PASSWORD: news_aggregation
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db_data:
